<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762315498730-5eadjjhhe65etbe6kn1v3bavqn3acian.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762315498730-5eadjjhhe65etbe6kn1v3bavqn3acian</string>
	<key>API_KEY</key>
	<string>AIzaSyChidifP74zjU_VbCCCKx2R69hN46YIqDI</string>
	<key>GCM_SENDER_ID</key>
	<string>762315498730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orgIdentifier.iosApp</string>
	<key>PROJECT_ID</key>
	<string>kmm-firebase-test-73c14</string>
	<key>STORAGE_BUCKET</key>
	<string>kmm-firebase-test-73c14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762315498730:ios:eaafabc7715bfc32c3a393</string>
</dict>
</plist>